
/* =========================================
           Form
========================================== */
.submitBtn {
    margin-bottom: 20px;
}


/* =========================================
           Error
========================================== */
.error {
    font-size: 0.8rem;
    color: #ff0000;
    padding-top: 5px;
}


/* =========================================
           List
========================================== */
.list {
    padding: 0;
    margin-left: 20px;
}

.list-item {
    border-bottom: 1px solid #ccc;
    /* padding: 12px; */
}
